BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
BreakBeforeBraces: Attach
SpaceBeforeParens: ControlStatements
SpaceAfterCStyleCast: true
SpacesInParentheses: false
SpacesInAngles: false
SpacesInContainerLiterals: true
SpaceAfterCXX11BracedList: true
SpacesInSquareBrackets: false
SpaceAfterTemplateKeyword: true
ColumnLimit: 108
AllowShortFunctionsOnASingleLine: true
AlignOperands: true
AlignAfterOpenBracket: true
KeepEmptyLinesAtTheStartOfBlocks: true
SortIncludes: false
PointerAlignment: Left
Cpp11BracedListStyle: true
IndentCaseLabels: false
IndentGotoLabels: false
ReflowComments: true
TabWidth: 4
AccessModifierOffset: -2
